.hidden   {
    display: none;
}

.BgColorBlue {
    background-color: blue;
}

.BgColorRed{
    background-color: red;
}
.BgColorGreen{
    background-color: green;
}

.BgColorRandom{
    background-color:color;
}