.hidden   {
    display: none;
}

.Btn-Blue {
    background-color: blue;
}

.Btn-Red{
    background-color: red;
}
.Btn-Green{
    background-color: green;
}

.BgColorRandom{
    background-color:color;
}

}


/* exo2 */

.btn-blue {
    background-color: lightblue;
}

.btn-red {
    background-color: lightcoral;
}

.btn-green {
    background-color: lightgreen;
}